#root {
  padding: 0px;
}

/* Header */
header {
  background-color: #1A7;
  padding: 10px 20px;
  color: #ddd;
}

.header-left {
  float: left;
}

h1.App-title {
  font-size: 16px;
  height: 20px;
  line-height: 40px;
}

p.Location {
  font-size: 12px;
  height: 20px;
  line-height: 40px;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #032217;
}


/* COMPONENTS */

/* Led  */

.list-group-item.led-list {
  text-align: center;
  margin-left: 15px;
}

.badge-pill.led-item {
  padding: 21px;
  border-radius: 4px;
  min-width: 66px;
}


/* Camera  */

.camera-feed {
  text-align: center;
}
.camera-feed img {
  max-width: 100%;
}

.image-overlay {
  position: relative;
}

.image-overlay-data {
  color: #fff;
}

.image-overlay-data .overlay-data-right {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: right;
}

.overlay-data-right .list-group-item {
  background: none;
  border: none;
  padding: 2px 6px 2px 1px;
}

.image-overlay-data .overlay-temp {
  position: absolute;
  top: 20px;
  right: 0px;
}

.image-overlay-data img {
  position: relative;
  z-index: -5;
  width: 100%;
}
